<app-welcomeheader></app-welcomeheader>
<div class="container dark">
    <div class="column">
    <p>ADMIN SIGN IN</p>
    </div>
</div>

<div class="container light">
    <br/>
    <p class="form-caption">Enter your username</p>
    <form [formGroup]='loginForm' (ngSubmit)="login()">
    <input type="email" class="regular" formControlName="emailid"
    placeholder="Username"
    [ngClass]="{ 'has-error': isSubmitted && formControls.emailid.errors }">
    <div *ngIf="isSubmitted && formControls.emailid.errors" class="help-block">
        <div *ngIf="formControls.emailid.errors.required">Email is required
        </div>
    </div>

    <p class="form-caption">Enter your password</p>
    <input type="password" class="regular" formControlName="password"
    placeholder="Password"
    [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
    <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">Password is required
        </div>
    </div>
   

    <input type="submit" class="submit" value="Login"><br/>
    </form>
    
</div>
    
